.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.drink {
    background-image: url(/img/drinkBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 80vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.drink img {
    width: 200px;
    margin-bottom: 100px;
}